<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/client/add}" th:object="${client}" method="post">
    <label for="nom">Nom</label>
    <input type="text" th:field="*{nom}" id="nom" placeholder="Nom">
    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <input type="submit" value="Ajouter le client">
</form>
</body>
</html>