<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:switch="${contacts}">
		<h2 th:case="null">Pas de contacts pour l'instant !</h2>
		<div th:case="*">
			<h2>Contacts du client :<span th:text="${client.nom}"></span></span></h2>
			<table>
				<thead>
					<tr>
						<th>nom</th>
						<th>prenom</th>
						<th>Modifier</th>
						<th>Effacer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.nom}"></td>
						<td th:text="${contact.prenom}"></td>
						<td><a th:href="@{/client/edit/{id}(id=${client.idClient})}">Modifier</a></td>
						<td><a th:href="@{/client/delete/{id}(id=${client.idClient})}">Effacer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/client/saisie">Ajouter un nouveau contact</a>
		</p>
	</div>
</body>
</html>